<!-- Navbar -->
<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      Hogurea Via ParcVistahermosa
    </a>
    <div style="display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;">
      <a class="nav-link" href="/resumen" style="margin-right: 25px;">Resumen</a>
      <a class="nav-link" href="/nuevafamilia">Añadir familia</a>
    </div>
  </div>
</nav>
<!--Contenido de la página-->
<main style="display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;">
  
  <!--Contenido de la pagina-->
  <router-outlet></router-outlet>

</main>